# services
# 
# Put here the services you want to execute  
#
# services catalog:
# - haproxy
# - jenkins
# - mail
# - nexus
# - passbolt
# - sonarqube
services=(haproxy jenkins mail nexus passbolt sonarqube)

# products
#
# Fill with the desired products
#
# products catalog:
# - webapp
# - statics
products=(webapp statics)

# directories
#
# Assets directories to be created
#
assets=( \
  services/haproxy/data/etc/letsencrypt \
  services/haproxy/data/usr/local/etc/haproxy \
  services/jenkins/data/var/jenkins_home \
  services/mail/data/var/spool/postfix \
  services/nexus/data/nexus-data \
  services/passbolt/data/passboltdb/var/lib/mysql \
  services/passbolt/data/passbolt/var/www/passbolt/config/gpg \
  services/passbolt/data/passbolt/var/www/passbolt/webroot/img/public \
  services/sonarqube/data/sonarqube/opt/sonarqube/conf \
  services/sonarqube/data/sonarqube/opt/sonarqube/data \
  services/sonarqube/data/sonarqube/opt/sonarqube/extensions \
  services/sonarqube/data/sonarqube/opt/sonarqube/lib/bundled-plugins \
  services/sonarqube/data/sonardb/var/lib/postgresql
  products/statics/data/usr/share/nginx/html \
  products/webapp/data/var/www/html \
)

# dist files
#
# Create config files from dist ones if it doesn't exist 
#
distfiles=( \
  services/passbolt/mysql.env.dist \
  services/passbolt/passbolt.env.dist \
  services/sonarqube/.env.dist \
)